extends layout

block content
	h1= title
	p Welcome to Test Project

	// Wrapper
	#wrapper
		// ARTICLE INFO
		#articleInfo
			h2 Article Info
			p
				#infoInner
					.title
						strong Title:
						|  <span id='articleTitle'></span>
						br
					.content
						strong Body:
						br
						|  <span id='articleBody'></span>
						br
					.author
						strong Author:
						|  <span id='articleAuthor'></span>
		// ARTICLE INFO

		// ARTICLE LIST
		h2 Article List
		#articleList
			table
				thead
					th Article Title
					th Author
					th Update
					th Delete?
				tbody
		// ARTICLE LIST

		// ADD ARTICLE
		h2 
			span#formtitle Add Article 
			span#addnewlink New
		#addArticle
			fieldset
				input#inputArticleId(type='hidden', value='0' name='articleid')
				input#inputArticleTitle(type='text', name='articletitle', placeholder='Article Title')
				br
				input#inputArticleBody(type='text', name='articlebody', placeholder='Body')
				br
				input#inputArticleAuthor(type='text', name='articleauthor', placeholder='Author')
				br
				button#btnAddArticle Add Article
		// ADD ARTICLE
        
	// /WRAPPER